<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837029674653-01qm4tbnkt606gsf8d465hus3fpg26j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837029674653-01qm4tbnkt606gsf8d465hus3fpg26j9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>837029674653-svkcjk583483f7qfp1o6eoj6te76fk68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPJm69l3Klx71cCaD8Z9HTxlmr1VOKuWc</string>
	<key>GCM_SENDER_ID</key>
	<string>837029674653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.moneyapp</string>
	<key>PROJECT_ID</key>
	<string>moneyapp-d88f3</string>
	<key>STORAGE_BUCKET</key>
	<string>moneyapp-d88f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837029674653:ios:54ae4fade3f22a52875e74</string>
	<key>DATABASE_URL</key>
	<string>https://moneyapp-d88f3.firebaseio.com</string>
</dict>
</plist>