#set($categoriesdata = [])
#foreach($item in ${ctx.args.categories})
    $util.qr($item.put("createdAt", $util.time.nowISO8601()))
    $util.qr($item.put("updatedAt", $util.time.nowISO8601()))
    $util.qr($item.put("__typename", "Categories"))
    $util.qr($item.put("id", $util.defaultIfNullOrBlank($item.id, $util.autoId())))
    $util.qr($categoriesdata.add($util.dynamodb.toMapValues($item)))
#end
{
  "version": "2018-05-29",
  "operation": "BatchPutItem",
  "tables": {
      "Categories-zlhk6cenwvdohgw7epv5j25ehi-dev": $utils.toJson($categoriesdata)
  }
}